<a href="https://colab.research.google.com/github/Pranav4DataSC/BlogGenerator/blob/main/Untitled77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
__init__
__del__

dendur

In [ ]:
class A:
    print("Am I a class?")

A()

obj1 = A()

if A():
    print(A())

Am I a class?
<__main__.A object at 0x7848a60b5600>

In [ ]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.milaege = mileage

In [ ]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [ ]:
print(c1)

<__main__.Car object at 0x7848a60b7d00>

In [ ]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage
    def __str__(self):
      return f"{self.name} -> {self.mileage}"
    def __add__(self, other):
      return self.mileage + other.mileage
    def __lt__(self, other):
      return self.mileage < other.mileage

In [ ]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [ ]:
print(c1)

Nexon -> 12

In [ ]:
print(c2)

Altroz -> 15

In [ ]:
c1 + c2

27

In [ ]:
2 + 3 ## ___add__(c1,c2)

In [ ]:
c1 < c2

TypeError: '<' not supported between instances of 'Car' and 'Car'

In [ ]:
class A:
  def __init__(self, a):
    self.a = a
  def __add__(self, b):
    if isinstance(b, int):
      return A(self.a + b)
    return A(self.a + b.a)
  def __str__(self):
    return f"{self.a}"


one = A(1)
two = A(2)

print(one + two + 100)

103

In [ ]:
Parent --> child
vehcles -> bikes, cars, aeroplane

In [ ]:
class Parent:
  def __init__(self):
    print("parent class")

class Child(Parent):
  def __init__(self):
    print("child class")

In [ ]:
SchoolMember -> students
             -> staff -> teacher

In [ ]:
class SchoolMember:
  def __init__(self, name):
    self.name = name

In [ ]:
class Student(SchoolMember):
  def __init__(self, name, grade):
    self.grade = grade

In [ ]:
class staff(SchoolMember):
  def __init__(self, name, salary):
    self.salary = salary

class teacher(staff):
  def __init__(self, name, salary, subject):
    self. subject = subject

In [ ]:
s1 = Student("krishna", "A")

In [ ]:
s1.grade

'A'

In [ ]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
class SchoolMember:
  def __init__(self, name):
    self.name = name

In [ ]:
class Student(SchoolMember):
  def __init__(self, name, grade):
    super().__init__(name)
    self.grade = grade

In [ ]:
s1 = Student("krishna", "A")

In [ ]:
s1.name

'krishna'

In [ ]:
class staff(SchoolMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary

class teacher(staff):
  def __init__(self, name, salary, subject):
    super().__init__(name, salary)
    self.subject = subject

In [ ]:
t1 = teacher("shivank", 10, "Python")

In [ ]:
t1.name

'shivank'

In [ ]:
t1.salary

10

In [ ]:
t1.subject

'Python'

In [ ]:
#break : 8 06 am

In [ ]:
class Car:
    def __init__(self, name, mileage):
        self.name = name
        self.mileage = mileage

In [ ]:
c1 = Car("a", 10)

In [ ]:
print(c1) # __str__(c1)

<__main__.Car object at 0x78489023bd30>

In [ ]:
class A:
    def do_something(self):
        print("I do something!", end=" ")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!", end=" ")

b = B()
b.do_something()

I do something! I also do something!

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdrawl(self, amount):
        self.balance -= amount

    def deposit(self, amount):
        self.balance += amount

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.deposit(5000)

In [ ]:
b1.balance

15000

In [ ]:
b1.withdrawl(15000)

In [ ]:
b1.balance

0

In [ ]:
b1.balance = 976748264872367486238746872364

In [ ]:
b1.balance

976748264872367486238746872364

In [ ]:
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance

    def withdrawl(self, amount):
        self.__balance -= amount

    def deposit(self, amount):
        self.__balance += amount

    def check_balance(self):
      return self.__balance

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b1.check_balance()

10000

In [ ]:
dir(b1)

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdrawl']

In [ ]:
b1.deposit(100)

In [ ]:
a.   b
  c

In [ ]:
class A:
  def __init__(self, a):
    self.a = a

class B:
  def __init__(self, b):
    self.b = b

class C(A,B):
  def __init__(self, a, b, c):
    #super().__init__(a,b)
    #super().__init__(a)
    #super().__init__(b)
    A.__init__(self, a)
    B.__init__(self,b)
    self.c = c

In [ ]:
c1 = C(1,2,3)

In [ ]:
c1.c

3

In [ ]:
class A:
  pass
class B:
  pass
class C(A, B):
  pass
class D:
  pass
class E(C, D):
  pass